@using System.Linq
@using DTO
@model List<EmployeeDTO>


<div class="searchBox">
    <div id="error" style="display:none;color:red">Please enter atleast one filter.</div>
  <input id="age" placeholder="Enter age" min="18" max="85" type="number" style=""/>
   <select name="loc[]" multiple id="loc" style="display:inline-block; width:200px;">
       
           @foreach (var l in ViewBag.Locations)
           {
               <option value="@l.LocationId">@l.Location</option>
           }
      
    </select>
    <input id="salary" placeholder="Enter Salary" type="number" min="10000" style=""/>
    <button id="SearchEmp" onclick="Search()" style="display:inline-block;">Search</button>
</div>
<div id="List">@Html.Partial("_EmpList",Model)</div>

<script>
   
    function Search()
    {
        var age = $("#age").val();
        var location = $("#ms-list-1 span").html();
        var salary = $("#salary").val();

        if (age == "" && location == "Select Locations" && salary=="")
        {
            $("#error").show();
            setTimeout(function () {
                $("#error").fadeOut();
            },5000
            );
        }
        else {
            $.ajax({
                url: '@Url.Action("GetEmployees", "Home")',
                data: { age: age, location: location, salary: salary },
                contentType: "application/json; charset=utf-8",
             
                type: "GET",
                success: function (data) {
                   
                        $("#List").html(data);
                    }
               
            });
        }
    }

    $(document).ready(function () {
      
        $('#loc').multiselect({
            columns: 1,
            placeholder: 'Select Locations'
        });
    });
</script>

<style>
    .searchBox {
        padding-top: 20px;
        padding-bottom: 20px;
        display: inline-block;
    }

    #age {
        height: 29px;
        width: 115px;
        display: inline-block;
    }

    #salary {
        height: 29px;
        width: 115px;
        display: inline-block;
    }
</style>